<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket.Q</title>


    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div id="home" class="content">

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>

        <header>
            <img src="./assets/images/Logo.svg" alt="Logo da Rocket.q">
        </header>
    
        <main>
            <div class="container">
                <section>
                    <h2>Entre como participante</h2>

                    <form action="">
                        <label class="sr-only" for="room">Codigo da sala</label>
                        <input type="number" id="room" placeholder="Codigo da sala">
                        <button type="submit">
                            <img src="../assets/images/log-in 1.svg" alt="Icone de entrar na sala">
                            Entrar na sala
                        </button>
                    </form>
                </section>

                <div class="separator">
                    <div></div>
                    <div>OU</div>
                    <div></div>
                </div>

                <section>
                    <h2>Crie fácil sua propria sala</h2>
                    <a class="button outlined">
                        <img src="./assets/images/users.svg" alt="Criar sala" class="ic">
                        Criar sala
                    </a>
                </section>
            </div>
        </main>
</div>

</body>
</html>