<div class="noquestions">
    <img src="/images/empty.svg" alt="sem perguntas">
    <h2>Nenhuma pergunta por aqui ..</h2>
    <p>Faca sua primeira pergunta, compartilhe o codigo da sala e interaja com outras pessoas atraves de perguntas e respostas!</p>
</div>